body {
    background: #fefdff;
}

.card {
    margin-top: 1rem;
    margin-bottom: 1.25rem;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .15);
    border-radius: .5rem;
}

.card-header {
    background-color: #cdc1ff;
    color: rgb(54, 54, 54);
    text-align: center;
    border-radius: .5rem;
}

#lista :hover {
    background-color: #f5efff;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .25);
}

#lista :active {
    background-color: rgb(253, 89, 89);
    color: aliceblue;
}
